/* GENERAL STYLES*/

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0, 03em;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #ffffff;
  --button-color: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.logo {
  font-family: 'Raleway';
  text-decoration: none;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn:hover,
.btn:focus {
  background-color: var(--button-color);
  color: var(--accent-color);
}

.btn {
  border: 1px, solid transparent;
  display: inline-block;
  cursor: pointer;
}

/* HEADER */

.page {
  border-bottom: 1px solid #ececec;
}

.page-header {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
}

.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.contact-list {
  display: flex;
  margin-left: auto;
}
.accent {
  color: #2196f3;
}

.header-nav-iteam:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.link:hover,
.link:focus {
  color: var(--button-color);
}

.current {
  color: var(--button-color)
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

/* MAIN */

.hero {
  background: #2f303a;
  padding: 200px 0;
}

.hero-title {
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.main-btn {
  margin: 0 auto;
  display: inline-block;
  min-width: 216px;
  border-radius: 4px;
  padding: 10px 32px;
  border-color: var(--button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-color);
  background: var(--button-color);
  border: none;
}

/*  Про нас  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-title {
  display: flex;
  gap: 30px;
  text-decoration: none;
}

.about-title-name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.about-title-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* --Чим ми займаємось--*/

.picture {
  padding-bottom: 94px;
}

.picture-title {
  margin-bottom: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.picture-name {
  display: flex;
  gap: 30px;
}

/*  Наша команда  */

.our-team {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.about-team {
  display: flex;
}

.team-member {
  background: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-member:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.members-title {
  padding: 30px 0;
}

.about-team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.about-team-text {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;

  color: var(--title-text-color);
}

/* FOOTER */

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-logo {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-address {
  margin-top: 20px;
}
.footer-title:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress-link {
  margin-bottom: 9px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-mail-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* PORTFOLIO */

.portfolio {
  padding-top: 94px;
}

.btn-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.second-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: #f5f4fa;
  border: none;
}

.work {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work-wrapper {
  flex-basis: calc((100%-30px * 2) / 9);
}

.title-wrapper {
  padding: 24px 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.work-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.work-list {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
